page-history {

}
.table-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 18%;
}
.home-tab {
    background-color: #e0f2ff;  
    padding: 8px; 
    margin-bottom:1px;
}
